APP_NAME="grokbase"
APP_VERSION="0.1"
OPENAI_API_KEY=""
FILE_ALLOWED_TYPES=["plain/text","application/pdf"]
FILE_MAX_SIZE=10485760
FILE_DEFAULT_CHUNK_SIZE=512
MONGODB_URL=
MONGODB_DATABASE=

# ========================= LLM Config =========================
GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE"

=
OPENAI_API_KEY=""
OPENAI_API_URL=
COHERE_API_KEY=""
OPENROUTERS_API_KEY=""
OPENROUTERS_API_URL="https://openrouters.com/api/v1"

=
GENERATION_MODEL_ID="gpt-3.5-turbo-0125"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

=
INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"